In [5]:

pip install pandas

Requirement already satisfied: pandas in c:\users\admin\.conda\envs\aafiyali\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\.conda\envs\aafiyali\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\.conda\envs\aafiyali\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\.conda\envs\aafiyali\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in c:\users\admin\.conda\envs\aafiyali\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as aafiya

In [23]:
aafiya.__version__

'1.5.2'

a1=aafi.series(['one',2,3,4,5],index=[1,2,3])

In [24]:
a1=aafiya.Series(['one',2,3,4,5],index=[0,1,2,3,4])

In [25]:
print(a1)

0    one
1      2
2      3
3      4
4      5
dtype: object

In [26]:
season={"rainy":{1:'nov',2:'dec',3:'jan',4:'feb'},"dry":{1:'mar',2:'apr',3:'may',4:'june'}}

In [28]:
d=aafiya.DataFrame(season,columns=["rainy","dry"])

In [12]:
d

  rainy   dry
1   nov   mar
2   dec   apr
3   jan   may
4   feb  june

In [29]:
import numpy as aafi

In [30]:
a=aafiya.DataFrame(aafi.random.randint(0,300,size=(12,6)),columns=list(('abcdef')))

In [31]:
print(a)

      a    b    c    d    e    f
0    13  184  197  247  253  266
1   220  222   22  271  260   75
2   215  123  279    4  269  156
3   102   38  296  264  132  243
4   223  274  260  126   25  236
5   172  108  275  207  203    4
6   189  251   40   74  262  261
7   155  218  208  151  172   63
8   291   89  126   40  136  179
9    99  147  245  209  206   74
10  284  118  186  100  114   16
11   32  232   53   67   26  187

In [49]:
a.to_csv("D:\pandas.csv")

In [50]:
a.to_csv("D:\pandas.csv")

In [51]:
d=aafiya.read_csv("D:\pandas.csv")

In [52]:
print(d)

    Unnamed: 0    a    b    c    d    e    f
0            0   13  184  197  247  253  266
1            1  220  222   22  271  260   75
2            2  215  123  279    4  269  156
3            3  102   38  296  264  132  243
4            4  223  274  260  126   25  236
5            5  172  108  275  207  203    4
6            6  189  251   40   74  262  261
7            7  155  218  208  151  172   63
8            8  291   89  126   40  136  179
9            9   99  147  245  209  206   74
10          10  284  118  186  100  114   16
11          11   32  232   53   67   26  187

In [54]:
d.drop("Unnamed: 0",axis=1)

      a    b    c    d    e    f
0    13  184  197  247  253  266
1   220  222   22  271  260   75
2   215  123  279    4  269  156
3   102   38  296  264  132  243
4   223  274  260  126   25  236
5   172  108  275  207  203    4
6   189  251   40   74  262  261
7   155  218  208  151  172   63
8   291   89  126   40  136  179
9    99  147  245  209  206   74
10  284  118  186  100  114   16
11   32  232   53   67   26  187

In [55]:
d.shape

(12, 7)

In [56]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12 non-null     int64
 1   a           12 non-null     int64
 2   b           12 non-null     int64
 3   c           12 non-null     int64
 4   d           12 non-null     int64
 5   e           12 non-null     int64
 6   f           12 non-null     int64
dtypes: int64(7)
memory usage: 800.0 bytes